<br>
{{> post-info post}}

{{#if loggedIn}}
<br>

 <form class="comment-form form-group">
   <div class="card">
    <textarea class="form-control" placeholder="Comment..." name="comment-body"></textarea>
  </div>
      <button type="button" class="btn btn-success btn-sm upvote-btn">Like</button>
      <button type="submit" class="btn btn-primary btn-sm">Add Comment</button>
</form>

{{/if}}
{{!-- <label for="formGroupExampleInput">Comment:</label> --}}
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}